{% extends 'TipddyMasleadsBundle::layout.html.twig' %}

{% block content %}
<form action="{{ path('organizacion_crear')}}" method="post" {{ form_enctype(form) }}>
 <fieldset>
     <legend>Nueva Organización</legend> 
 
 {{ form_row(form.etiqueta, { 'label' : 'Nombre' })}}
 {{ form_row(form.rut)}}
 {{ form_row(form.giro)}}
 {{ form_row(form.direccion, { 'label' : 'Dirección'})}}
 {{ form_row(form.pais, { 'label' : 'País' }) }}
 {{ form_row(form.region, { 'label' : 'Región'}) }}
 {{ form_row(form.provincia) }}  
 {{ form_row(form.estado) }}
 
 </fieldset>
 <p>
   <button class="button" type="submit">Guardar</button>
 </p>
 

</form>

{% endblock %}