<h1>Usuarios</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ entity.apellido }}</td>
        </tr>
        <tr>
            <th>Usuariourl</th>
            <td>{{ entity.usuarioUrl }}</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ entity.login }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Rut</th>
            <td>{{ entity.rut }}</td>
        </tr>
        <tr>
            <th>Cargo</th>
            <td>{{ entity.cargo }}</td>
        </tr>
        <tr>
            <th>Profesion</th>
            <td>{{ entity.profesion }}</td>
        </tr>
        <tr>
            <th>Especialidades</th>
            <td>{{ entity.especialidades }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Email2</th>
            <td>{{ entity.email2 }}</td>
        </tr>
        <tr>
            <th>Codigopostal</th>
            <td>{{ entity.codigoPostal }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Telefono2</th>
            <td>{{ entity.telefono2 }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ entity.celular }}</td>
        </tr>
        <tr>
            <th>Empresa</th>
            <td>{{ entity.empresa }}</td>
        </tr>
        <tr>
            <th>Paginaweb</th>
            <td>{{ entity.paginaWeb }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('usuarios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuarios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('usuarios_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
