<h1> {{ title }} <a class="button add-new-h2" href="{{ path(route ~ '_new')}}">Nuevo</a></h1>

<table id="tabla-listado"  class="listado post fixed" cellspacing="0">
    <thead>
        <tr>
        <th>#</th>
     {% for titulo in encabezado %}
          <th>{{ titulo }}</th>
     {% endfor %}           
        </tr>
    </thead>
    <tbody>
    {% set cont = first_register_pager(pager) %}
    {% for entity in pager.getResults %}
        <tr class="registro-fila {{ cycle(['tr-odd', 'tr-even'], loop.index)}}">
            <td>{{ cont }}</td>
        {% for method, type in columns %}     
             {% if (loop.index == 1) %}
                <td>
                   <strong>{{ attribute(entity, method) }}</strong>
            
                    {% include 'TipddyMasleadsBundle::_acciones-listado.html.twig' with {'entity' : entity, 'route' : route, 'page' : pager.getPage } %}
                </td>
             {% else %}     
                 {% if type == 'date' %}
                  <td>{{ attribute(entity, method) | date('d-m-Y') }}</td>
                 {% else %}
                    <td>{{ attribute(entity, method) }}</td>
                 {% endif %}      

             {% endif %}    
        {% endfor %}    
        </tr>
        {% set cont = cont + 1 %}
    {% endfor %}
    <tr><td colspan="{{ (columns | length) + 1 }}">{%  include 'TipddyMasleadsBundle::_paginador.html.twig' with {'pager': pager, 'route' : route} only %}</td></tr>
    </tbody>
</table>