{% set tab = app.request.attributes.get('_route') %}

<ul id="ul-menuprincipal" class="nav sf-js-enabled sf-shadow" style="display: block; visibility: visible;">
     <li id="m-panel" {{ route_active(tab, 'panel') ? 'class="sfHover"' : '' }}>
        <a href="{{ path('panel') }}">Panel</a>
     </li>
     <li id="m-campanas" {{ route_active(tab, 'campaign') ? 'class="sfHover"' : '' }}>
         <a class="sf-with-ul" href="{{ path('campaign')}}">Campañas</a>
     </li>
     <li id="m-sistema" {{ route_active(tab, ['user', 'company', 'comentario']) ?  'class="sfHover"' : '' }}>
       <a href="{{ path('user')}}" class="sf-with-ul">Datos</a>
    </li>
</ul>