 <ul>
 {% set subtab = app.request.attributes.get('_route') %}
 
  {% if route_active(subtab, 'panel') %}       
   
      <li><a href="" class="cat-destacada">Seleccionar Entorno</a></li>      
  
  
  {% elseif route_active(subtab, ['user', 'company', 'comment']) %}
  
   <li><a href="{{ path('user') }}" {{ route_active(subtab, 'user') ? 'class="cat-destacada"' : '' }}>Usuarios</a></li>
   <li><a href="{{ path('company')}}" {{ route_active(subtab, 'company') ? 'class="cat-destacada"' : '' }}>Organizaciones</a></li>
   <li><a href="{{ path('comment')}}" {{ route_active(subtab, 'comment') ? 'class="cat-destacada"' : '' }}>Comentarios, sugerencias o Ayudas</a></li>     
  {% endif %}
  
    
 </ul>