{% extends "::base.html.twig" %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('public/js/jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/js/blockUI/jquery.blockUI.js') }}"></script>

{% if app.session.hasFlash('result_action')  %}
      {% if app.session.getFlash('result_action') == 'error' %}
          {% set titleAction, msjAction, prefImage = global.form_title_action_error, global.form_msj_action_error, 'error' %}
      {% elseif app.session.getFlash('result_action') == 'ok_select'  %}
          {% set titleAction, prefImage = global.form_title_action_ok, 'ok' %}  
          {% set msjAction = global.msj_action_ok_select %} 
          
       {% else %}
          {% set titleAction, prefImage = global.form_title_action_ok, 'ok' %}  
          {% set msjAction = app.session.getFlash('result_action') == 'ok_save' ? global.form_msj_action_ok_save : global.form_msj_action_ok_update  %}    
      {% endif %}
      {# growlUI #}
      <script type="text/javascript">
        $(document).ready(function() {
          $.growlUI('{{ titleAction }}','{{ msjAction }}');
        })
     </script>
    <style type="text/css">
       div.growlUI { background: url({{ asset('bundles/tipddymasleads/images/' ~ prefImage ~ '-msj.png')}}) no-repeat 10px 10px }
    </style>      
{% endif %}

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tipddymasleads/css/admin.css') }} " />
{% endblock %}

{% block body %}
   <div id="root">
      <div id="topBars">
         <div id="topLeftBar">
            {% include 'TipddyMasleadsBundle::_top-bars-left.html.twig' %}             
         </div>
        <div id="topRightBar">
            {% include 'TipddyMasleadsBundle::_top-bars-right.html.twig' %}
        </div>
      </div>
      <div id="header">
             <span id="logo"></span>
      </div>
      <div>
          {% include 'TipddyMasleadsBundle::_menu-principal.html.twig' %}   
      </div>   

      <div class="page">
          <div class="pageWrap">
              <div class="nav_sep">
                 <div id="top_nav">
              {% include 'TipddyMasleadsBundle::_submenu-principal.html.twig' %}             
                 </div>
              </div>
              <div id="dashboard">
          {# Acá se configura la opción para mostrar o no el lado izquierdo #}
          {% block optionsexport %} {% endblock %} 
          {% block menuizq %}{% endblock %}

                     <div id="contenido" class="width-contenido">
                      
                      {% block content %} {% endblock %}
                      
                     </div>
                     <br class="clearfloat" />
                  </div>                
              </div>
         </div>
         
      </div>
      
      <div id="footer">
          <hr />
          <div>Versión Masleads 1.0.8</div>
          <div>
             <a><img border="0" src="{{ asset('bundles/tipddymasleads/images/logo-tipddy.png')}}" /></a>
            &copy; 2011 - Tipddy | info@tipddy.cl
          </div>
      </div>
{% endblock %} 