 {{ form_row(form.etiqueta,{'label' : 'Nombre'}) }}
{# Fecha Inicio #}
 {{ form_row(form.fechaInicio, {'attr' : { 'class' :'selects-fechas'}, 'label' : 'Fecha Inicio' }) }}

 {{ form_row(form.fechaTermino, {'attr': { 'class' : 'selects-fechas' } , 'label' : 'Fecha Termino' }) }}
 {{ form_row(form.industria, {'label' : 'Tipo Industria' }) }}
 {{ form_row(form.periodoPrueba, {'label' : 'Periodo Prueba' }) }}
 <div id="periodo-prueba" style="display:none">
 {{ form_row(form.fechaInicioPrueba, {'attr' : { 'class' : 'selects-fechas'}, 'label' : 'Fecha Inicio Prueba' }) }}
 {{ form_row(form.fechaTerminoPrueba, {'attr' : { 'class' : 'selects-fechas'},  'label' : 'Fecha Término Prueba' }) }} 
 </div>
 {{ form_row(form.sitioWeb, {'label' : 'Sitio Web' }) }}
 
 
 <div class="field-group">
 <h3>Páginas</h3>
 
    <div id="todas-paginas">
      <ul class="paginas" data-prototype="{{ form_widget(form.paginas.get('prototype')) | e}}">
      {% for pagina in form.paginas %}
         <li>{{ form_row(pagina) }}</li>    
      {% endfor %}
      </ul>
   </div> 
 </div>
 

{#}

 <ul class="paginas" data-prototype="{{ form_widget(form.paginas.get('prototype')) | e}}">
    {% for pagina in form.paginas %}
     <li>{{ form_row(pagina) }}</li>    
    {% endfor %}
 </ul>

#}





{{ form_widget(form._token) }}
{# {{ form_rest(form) }} #}          