{% extends 'TipddyMasleadsBundle::layout.html.twig' %}

{% block content %}

{% include 'TipddyMasleadsBundle::_listados-entidades-generales.html.twig' with {
            'title' : 'Campañas',
            'encabezado': ['Nombre', 'Fecha inicio', 'Fecha término', 'Sitio web', 'API key'],
            'columns' : {'etiqueta':'text' , 'fechaInicio': 'date', 'fechaTermino': 'date', 'sitioWeb': 'text', 'apiKey' : 'text'},
            'route' : 'campaign',
            'pager' : pager } only  %}

{% endblock %}

{#
{% block content %}

<h1>Campañas <a class="button add-new-h2" href="{{ path('campaign_new')}}">Nueva</a></h1>

<table id="tabla-listado"  class="listado post fixed" cellspacing="0">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th>Fecha Término</th>
        <th>Sitio Web</th>
        <th>API Key</th>
      </tr>
    </thead>
    <tbody>
    {% set cont = first_register_pager(pager) %}
    {% for entity in pager.getResults %}
        <tr class="registro-fila {{ cycle(['tr-odd', 'tr-even'], loop.index)}}">
            <td>{{ cont }}</td>
            <td>{{ entity.etiqueta }}</td>
            <td>{{ entity.fechaInicio | date('d-m-Y') }}</td> 
            <td>{{ entity.fechaTermino | date('d-m-Y') }}</td>
            <td>{{ entity.sitioWeb }}</td>
            <td>{{ entity.apiKey }}</td> 
        </tr>
        {% set cont = cont + 1 %}
    {% endfor %}
    <tr><td colspan="6">{%  include 'TipddyMasleadsBundle::_paginador.html.twig' with {'pager': pager, 'route' : 'campana'} only %}</td></tr>
    </tbody>
</table>


{% endblock %}#}
