{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
<div class="field-group">
    {{form_label(form,label|default(null))}}
    <div class="field-wrapper">
      {{form_widget(form,  { 'attr' : attr} )}}
            
       {% if errors|length > 0 %}
         <span class="invalid-error">{{form_errors(form)}}</span>      
      {% endif %}
      
    </div>
  </div>  
{% endblock %}

{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}{{ required ? ' *' : ''}}</label>
{% endspaceless %}
{% endblock %}


{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="error_list">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}


{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        <div {{ block('widget_container_attributes') }}>
         <ul class="radio_list">
        {% for child in form %}
          <li>
            {{ form_widget(child) }}
            {{ form_label(child) }}
          </li>  
        {% endfor %}
         </ul>
        </div>
    {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

